parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Variable \$[a-zA-Z0-9\\_]+ might not be defined#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\)#'
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false